__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
htmlcov/
*.sqlite3
history.db
prediction_history.db
prediction_history_fairface.db
.ipynb_checkpoints
.DS_Store
